<div class="hero">
  <%= image_tag("scsf_hero_1170x230.jpg") %>
</div>
<div class="row">
  <div class="span2 side-nav">
    <%= render 'layouts/about_sidenav' %>
  </div>
  <div class="span8">
    <h1>About Us</h1>
    <p>Whether you've been away from the Farm a few years or a few decades, you probably still cherish the sense of excitement your Stanford years brought &mdash; strong relationships developed, perspectives broadened, experiences gained.</p>
    <p>The <span class="strong">Stanford Club of San Francisco</span> (SCSF) provides an opportunity for you to continue these experiences with a network of Stanford alumni of all class years and majors, both grad and undergrad. We are a diverse group representing different interests, backgrounds and industries, but sharing a curiosity about the world and a desire to meet new people and renew old acquaintances.</p>
    <p>Members receive 1 newsletter a month with listing alumni events in and around San Francisco, plus discounts and priority registration to many of our events.</p>
    <p>Becoming a member of the SCSF is free to all Stanford alumni through the <a href="https://alumni.stanford.edu/get/page/groups/overview/?group_id=0038990293" target="_blank">Stanford Alumni Association website</a>.</p>
  </div>
</div>