<div class="hero">
  <%= image_tag("scsf_hero_1170x230.jpg") %>
</div>
<div class="row">
  <div class="span2 side-nav">
    <ul class="icons-ul">
      <li><i class="icon-angle-right"></i> <%= link_to "About", about_path %></li>
      <li><i class="icon-angle-right"></i> <%= link_to "Club Leadership", leadership_path %></li>
      <li><i class="icon-angle-right"></i> <%= link_to "Contact", about_path %></li>
    </ul>
  </div>
  <div class="span8">
    <h1>About SCSF</h1>
    <p>Whether you've been away from the Farm a few years or a few decades, you probably still cherish the sense of excitement your Stanford years brought -- strong relationships developed, perspectives broadened, experiences gained.</p>
    <p>The Stanford San Francisco Club provides an opportunity for you to continue these experiences with a network of Stanford alumni of all class years and majors, both grad and undergrad. We are a diverse group representing different interests, backgrounds and industries, but sharing a curiosity about the world and a desire to meet new people and renew old acquaintances.</p>
    <p>List members receive 1-2 newsletters a month with alumni events in and around San Francisco and receive discounts and priority registration to many of our events.</p>
  </div>
</div>