<div class="hero">
  <%= image_tag("scsf_hero_1170x230.jpg") %>
</div>
<div class="row">
  <div class="span7">
    <div class="row">
      <div class="span7">
        <h2 style="text-align: center;">
          Call for SCSF Board Nominations<br>
          Get involved!
        </h2>
        <p>We are currently seeking nominations for the Stanford Club of SF Board (2014-2016).  We need: leadership, creativity and collaborative engagement. We offer: personal growth, leadership development and an opportunity to deepen your ties to Stanford, alumni friends and professional connections.</p>
        <p style="margin-bottom: 0;">We welcome your nominations (including self-nominations) for the following:</p>
         
        <ul>
          <li>President</li>
          <li>Vice President Events</li>
          <li>Secretary</li>
          <li>Treasurer</li>
          <li>CIO</li>
          <li>Marketing and Membership Director</li>
          <li>Partnership Director</li>
          <li>Venue Director</li>
          <li>Newsletter Editor</li>
          <li>Chair: Arts, Culture and Science</li>
          <li>Chair: Careers & Professions</li>
          <li>Chair: Design and Innovation</li>
          <li>Chair: Food and Wine</li>
          <li>Chair: Philanthropy and Community Service</li>
          <li>Chair: Social</li>
          <li>Chair: Speaker Events</li>
          <li>Chair: Sports and Recreation</li>
        </ul>
         
        <p>Nominations will be accepted via email and should include the following:  Name, Class Year, Contact Information,  and position desired. Also include a brief statement outlining the nominee’s skills and experience and indicate why the nominee would be a valuable Board Member of the Club.</p>
        
        <p>All nominations must be submitted by June 1, 2014 via email to <a href="mailto:d.sanchez@stanfordalumni.org">d.sanchez@stanfordalumni.org</a></p>
      </div>
    </div>
    <%= render 'events/events_feed' %>
  </div>
  <div class="span4 offset1 sidebar">
    <%= render 'shared/committees_list' %>
    <%= render 'shared/join_scsf' %>
  </div>
</div>