<div class="hero">
  <%= image_tag("scsf_hero_1170x230.jpg") %>
</div>
<div class="row">
  <div class="span7">
    <div class="row">
      <div class="span7">
        <h2 style="text-align: center;">
          Call for SCSF Board Nominations<br>
          Get involved!
        </h2>
        <p>We are seeking nominations for the incoming Stanford Club of San Francisco (SCSF) board for a new two-year term.   The deadline for applying is April 22, and the new leaders will take office June 1st.</p>
        <p>Please submit your name, Stanford class, contact information, nominee (self or other), position nominated for, and a brief statement of interest.   We look forward to hearing from you!</p>
        <p style="margin-bottom: 0;">Here is the full list of SCSF Board positions; let us know in which one(s) you have an interest:</p>
        <ul>
          <li>President</li>
          <li>Vice President</li>
          <li>Treasurer</li>
          <li>CIO (website & social media)</li>
        </ul>
        <p>Questions? Contact Dan Sanchez: <a href="mailto:dan.sanchez@citi.com">dan.sanchez@citi.com</a></p>
      </div>
    </div>
    <%= render 'events/events_feed' %>
  </div>
  <div class="span4 offset1 sidebar">
    <%= render 'shared/committees_list' %>
    <%= render 'shared/join_scsf' %>
  </div>
</div>