<div class="hero">
  <%= image_tag("scsf_hero_1170x230.jpg") %>
</div>
<div class="row">
  <div class="span7">
    <%= render 'events/events_feed' %>
  </div>
  <div class="span4 offset1 sidebar">
    <%= render 'shared/committees_list' %>
    <%= render 'shared/join_scsf' %>
  </div>
</div>