<div class="widget">
  <div class="top-bar">
    <h4>Join the Club!</h4>
  </div>
  <div class="content">
    <p>Join Stanford's largest regional alumni club and stay in the loop with our monthly newsletters.</p>    
  </div>
  <div class="center-button">
    <a href="https://alumni.stanford.edu/get/page/groups/overview/?group_id=0038990293" class="btn"><i class="icon-hand-right"></i> Sign Up</a>
  </div>
</div>