<% if @upcoming_events.empty? %>  
  <div class="row">
    <div class="span7">
      <h3 class="event-feed-header">No Upcoming Events at this time</h3>
      <p>Have an idea for an event? Email us!</p>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="span7">
      <h3 class="event-feed-header">Upcoming Events</h3>
    </div>
  </div>
  <% @upcoming_events.each do |event| %>
    <div class="row">
      <div class="span7 event">
        <%= render event %>
      </div>
    </div>
  <% end %>
<% end %>