<% provide(:title, 'Committees') %>
<div class="hero">
  <%= image_tag("scsf_hero_1170x230.jpg") %>
</div>
<div class="row">
  <div class="span12">
    <h2>SCSF Committees</h2>
    <ul class="thumbnails">
      <% @committees.each do |committee| %>
      <li class="span3">
          <div class="widget committee_list">
            <div class="top-bar">
              <h4><%= link_to committee.name, committee %></h4>
            </div>
            <div class="content">
              <p><%= committee.description %></p>
            </div>
            <div class="center-button">
              <%= link_to "See Upcoming Events", committee %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>