<% provide(:title, @committee.name ) %>
<h1><%= @committee.name %></h1>
<% if can? :update, @committee %>
  <p><%= link_to "Edit Committee", edit_committee_path(@committee) %></p>
<% end %>

<p><%= @committee.description %></p>

<%= render 'events/feed' %>