
table.admin {
  border-collapse: collapse;
  th {
    text-align: left;
  }
  td {
    padding: 7px;
    list-style: none;
    border-top: 1px solid black;
  }
  .row:nth-child(even) {
    background-color: #f5f5f5;
  }
  .row:nth-child(even):hover,
  .row:nth-child(odd):hover {
    background-color: #fffff0;
  }
}