@import "admin";
@import "committees";
@import "events";


h1, h2, h3, h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #4D4F53;
}

a {
  text-decoration: none;
}

header {
  h1 {
    font-family: 'Crimson Text', serif;
    color: #820000;
    float: left;
  }
}

footer {
  margin: 25px;
  clear: both;
  text-align: center;
}

.body-container {
  margin: 0 auto;
  width: 80%;
  clear: both;
}
.content {
  clear: both;
}
.main-column {
  float: left;
  width: 66.5%;
}
.sidebar {
  float: left;
  width: 33.5%;
}
.widget {
  margin: 10px 0;
  padding: 20px;
  background-color: #f0f0f0;
}

.top-nav {
  float: right;
  li {
    display: inline-block;
    list-style-type: none;
  }
}

.centering {
  margin: 10px 0;
  text-align: center;
}

.btn {
  margin: 10px auto;
  padding: 8px 40px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 20px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  background-color: #8C1515;
  display: inline-block;
}  

