
.date-icon {
  padding: 2px 5px;
  position: absolute;
  left: -60px;
  top: 35px;
  width: 30px;
  height: 35px;
  border: 2px solid black;
  border-top: 9px solid black;
  text-align: center;
}


// event list in event/feed
.event-feed {
  .event {
    padding: 10px 10px 60px 10px;
    position: relative;
    border-top: 1px solid #999;
    &:nth-child(even) {
    }
    &:nth-child(odd) {
      background-color: #f0f0f0;
    }
  }
}


// event show
table.event-cost {
  .label {
    padding: 0;
    font-weight: bold;
  }
  .member-type{
    padding: 2px 10px;
    text-align: left;
  }
  .cost {
    padding: 2px 10px;
    border : 1px solid red;
    text-align: center;
  }
}

.event-form {
  .section {
    margin-top: 60px;
  }
  select {
    margin-bottom: 0;
  }
  .form-label {
    font-weight: bold;
  }
  .datetime {
    display: inline-block;
    &.start, &.end {
      padding-left: 10px;
    }
    .start, .end {
      text-align: right;
    }
    .icons, .fields {
      float: left;
    }
    .icons {
      margin-top: 9px;
      margin-right: 6px;
    }
  }
  .cost {
    margin-left: 0;
  }
  .tip {
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
  }
  input, a {
    margin-bottom: 10px;
    margin-top: 5px;
    &#event_name,
    &.datepicker,
    &#event_address,
    &#event_registration_url,
    &#event_capacity,
    &#event_slug {
      width: 80%;
    }
    &#event_start_time, 
    &#event_end_time {
      width: 60px;
    }
    &#event_cost_member,
    &#event_cost_young_alumn,
    &#event_cost_guest  {
      width: 60%;
    }
  }
  textarea {    
    padding: 10px;
    width: 91%; 
    height: 300px;
  }
  select {
    margin-top: 4px;
    width: 69%;
  }
}