<ul class="icons-ul">
  <li><h4><i class="icon-angle-right"></i> <%= link_to "About", about_path %></h4></li>
  <li><h4><i class="icon-angle-right"></i> <%= link_to "Club Leadership", leadership_path %></h4></li>
  <li><h4><i class="icon-angle-right"></i> <%= link_to "Contact", new_message_path %></h4></li>
</ul>